[submodule "urlify"]
	path = urlify
	url = https://github.com/jbroadway/urlify
[submodule "api-library"]
	path = api-library
	url = https://github.com/Dockerous/api-library.git
[submodule "log"]
	path = log
	url = https://github.com/php-fig/log.git
[submodule "phpuri"]
	path = phpuri
	url = https://github.com/monkeysuffrage/phpuri.git
